<template>
  <div class="post">
    <div class="post__info">
      <p class="post__title"><span>Название: </span> {{ post.title }}</p>
      <p class="post__body"><span>Описание: </span>{{ post.body }}</p>
    </div>
    <div class="post__buttons">
      <v-button class="post__btn">Удалить</v-button>
      <v-button class="post__btn">Редактировать</v-button>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    post: {
      type: Object,
      default: {},
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.post {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
  }
}

</style>
