<template>
  <div class="posts">
    <h2 class="posts__title">Список постов</h2>
    <post-item
        v-for="post in posts"
        :key="post.id"
        :post="post"
    >
    </post-item>
  </div>
</template>

<script>
import PostItem from "@/components/PostItem";

export default {
  components: {PostItem},
  props: {
    posts: {
      type: Array,
      default: {},
    },
  },
}
</script>

<style lang="scss" scoped>
.posts {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .post {
    padding: 15px;
    border: 2px solid teal;
    max-width: 700px;

    &__title {
      span {
        font-weight: 600;
      }
    }

    &__body {
      span {
        font-weight: 600;
      }
    }
  }
}

</style>
