<template>
  <form class="add-posts" @submit.prevent>
    <h2 class="form-title">Форма добавления поста</h2>
    <v-input
        v-model="post.title"
        placeholder="Введите название"
        type="text"
        class="form-input"
    />
    <v-input
        v-model="post.body"
        placeholder="Введите описание"
        type="text"
        class="form-input"
    />
    <v-button
        @click="addPostHandler"
        class="form-btn">
      Жмяк
    </v-button>
  </form>
</template>

<script>
import VInput from "@/components/UI/V-input";

export default {
  components: {VInput},
  data() {
    return {
      post: {
        title: '', body: '', id: 0,
      }
    }
  },
  methods: {
    addPostHandler() {
      if (this.post.title === '' || this.post.body === '') {
        return
      }
      this.post.id = Date.now();
      this.$emit('addPostHandler', this.post)
      this.post = {
        title: "",
        body: "",
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.add-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;

  .form-input {
    max-width: 400px;
  }

  .form-btn {
    max-width: 400px;
  }
}
</style>
