<template>
  <div class="main-page">
    <div class="container">
      <post-form
          @addPostHandler="addPost"
      />
      <post-list
          :posts="posts"
      />
    </div>
  </div>

</template>

<script>
import PostForm from "@/components/PostForm";
import PostList from "@/components/PostList";

export default {
  components: {PostList, PostForm},

  data() {
    return {
      posts: [
        {id: 1, title: "Название поста 1", body: "Описание поста в несколько строк и ещё чуть-чуть и ещё немного"},
      ],
    }
  },
  methods: {
    addPost(post) {
      this.posts.push(post)
    }
  },
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-page {
  padding: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}



</style>
