<template>
<button class="btn">
  <slot/>
</button>
</template>

<script>
export default {
  name:'v-button'
}
</script>

<style lang="scss">
.btn{
  padding: 10px;
  border: 1px solid teal;
  background: transparent;
  color: teal;
}
</style>
